/* Estilos generales */
header {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/imagenes/header.svg);
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navegation {
        display: flex;
        align-items: center;

        img {
            margin-right: 25px;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;
            }

            a {
                font-weight: 600;
                font-size: 14px;
                color: #111827;
                text-decoration: none;
            }
        }
    }

    .buttons {
        button {
            margin-right: 20px;
        }
    }

    .menu-mobile {
        display: none;
    }
}

.description-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px);
    min-height: 700px;

    .text {
        width: 648px;
        margin-bottom: 100px;

        h1 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
            color: #374151;
            font-weight: 400;
        }

        .box-btns {
            button {
                margin-right: 10px;
            }
        }
    }
}

#feature {
    color: #111827;
    text-align: center;
    margin-top: 50px;

    h2 {
        font-size: 48px;
    }

    > p {
        font-size: 18px;
    }

    .content-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 80px 0;

        .box {
            width: 384px;
            height: 152px;
            margin: 35px 0;

            .title {
                font-weight: 700;
                font-size: 30px;
                margin: 15px 0;
            }

            .description {
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

#achievements {
    height: 338px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-description {
            width: 592px;

            h2 {
                font-size: 48px;
                font-weight: 700;
            }

            .description {
                font-size: 18px;
                font-weight: 400;
            }
        }

        .content-box {
            width: 592px;
            display: flex;
            flex-wrap: wrap;

            .box {
                width: 280px;
                display: flex;
                align-items: center;
                margin: 25px 0;

                img {
                    width: 32px;
                    margin-right: 20px;
                }

                .subtitle-description {
                    .sub-title {
                        font-size: 36px;
                        font-weight: 700;
                    }

                    .description {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 288px;
    background: black;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;

        .links, .contact {
            .row {
                display: flex;
                align-items: center;

                a, p {
                    color: white;
                    margin-right: 20px;
                    text-decoration: none;
                }
            }

            p {
                color: #D1D5DB;
            }
        }

        .download {
            p {
                color: #D1D5DB;
                margin-bottom: 20px;
            }
        }
    }
}

/* Media queries */
@media only screen and (max-width: 1250px) {
    #achievements .container .content-box .box {
        width: 250px;
    }
}

@media only screen and (max-width: 1050px) {
    #achievements {
        height: auto;
        padding: 30px 0;

        .container {
            flex-direction: column;
            align-items: flex-start;

            .title-description {
                width: 100%;
                margin-bottom: 20px;
            }

            .content-box {
                width: 550px;
                justify-content: space-between;
            }
        }
    }

    footer .contact {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    header .description-image {
        height: auto;
        flex-direction: column;
        margin-top: 25px;
    }

    header nav .navegation ul {
        display: none;
    }

    #achievements .container .content-box {
        width: 95%;
    }
}

@media only screen and (max-width: 820px) {
    header .description-image .text {
        width: 500px;

        h1 {
            font-size: 36px;
        }
    }

    #feature h2 {
        font-size: 36px;
    }

    #feature .content-box .box {
        margin: 35px auto;

        .title {
            font-size: 24px;
        }
    }

    #achievements .container .title-description h2 {
        font-size: 36px;
    }

    #achievements .container .content-box {
        width: 500px;

        .box {
            width: 100%;

            .subtitle-description .sub-title {
                font-size: 24px;
            }
        }
    }

    footer {
        height: auto;
        padding: 50px 0;

        .container {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 600px) {
    header .menu-mobile {
        display: block;
    }

    header .buttons {
        display: none;
    }

    header .description-image .text {
        width: 95%;
    }

    #achievements .container .content-box {
        width: 95%;
    }
}
