<header>
    <nav class="container">
        <div class="navegation">
            <img src="./assets/imagenes/Logo.png" alt="">
            <ul>
                <li>
                    <a href="#">Feature</a>
                    <a href="#">Pricing</a>
                    <a href="#">Careers</a>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        </div>
        <div class="buttons">
            <button class="btn btn__bg" (click)="goLogin()">Iniciar sesión</button>
            <button class="btn btn__transparent" (click)="goLogin()">Regístrate</button>
        </div>
        <img class="menu-mobile" src="./assets/imagenes/icons/menu.svg" alt="">
    </nav>
    <section class="container description-image">
        <div class="text">
            <h1>The easiest way to manage projects</h1>
            <p>From the small stuff to the big picture, organizes the work so teams know what to do, why it matters, and how to get it done.</p>
            <div class="box-btns">
                <button class="btn btn__bg">Get Started</button>
                <button class="btn btn__transparent">Watch Video</button>
            </div>
        </div>
        <img src="./assets/imagenes/Mobile.png" alt="">
    </section>
</header>

<section id="feature">
    <div class="container">
        <h2>Tailor-made features</h2>
        <p>Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
        <div class="content-box">
            <div class="box">
                <img src="./assets/imagenes/icons/1.svg" alt="">
                <p class="title">Robust workflow</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/2.svg" alt="">
                <p class="title">Flexibility</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/3.svg" alt="">
                <p class="title">User friendly</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/4.svg" alt="">
                <p class="title">Multiple layouts</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/5.svg" alt="">
                <p class="title">Better components</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/6.svg" alt="">
                <p class="title">Well organised</p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </div>
        </div>
    </div>
</section>

<section id="achievements">
    <div class="container">
        <div class="title-description">
            <h2>Our 18 years of achievements</h2>
            <p class="description">With our super powers we have reached this</p>
        </div>
        <div class="content-box">
            <div class="box">
                <img src="./assets/imagenes/icons/1.svg" alt="">
                <div class="subtitle-description">
                    <p class="sub-title">10,000+</p>
                    <p class="description">Downloads per day</p>
                </div>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/4.svg" alt="">
                <div class="subtitle-description">
                    <p class="sub-title">2 Million</p>
                    <p class="description">Users</p>
                </div>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/5.svg" alt="">
                <div class="subtitle-description">
                    <p class="sub-title">500+</p>
                    <p class="description">Clients</p>
                </div>
            </div>
            <div class="box">
                <img src="./assets/imagenes/icons/7.svg" alt="">
                <div class="subtitle-description">
                    <p class="sub-title">140</p>
                    <p class="description">Countries</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="links">
            <img src="./assets/imagenes/Logo.png" alt="">
            <div class="row">
                <a href="#">Download Now</a>
                <a href="#">License</a>
            </div>
            <div class="row">
                <a href="#">About</a>
                <a href="#">Feature</a>
                <a href="#">Pricing</a>
                <a href="#">News</a>
                <a href="#">Help</a>
                <a href="#">Contact</a>
            </div>
            <p>© 2021 Landify UI Kit. All rights reserved</p>
        </div>
        <div class="contact">
            <img src="./assets/imagenes/Logo.png" alt="">
            <div class="row">
                <p>Contáctanos</p>
            </div>
            <div class="row">
                <p> Whatsapps </p>
                <p> 978 566 567 </p>
                <p> 967 567 565 </p>
            </div>
            <p>© 2021 Landify UI Kit. All rights reserved</p>
        </div>
        <div class="download">
            <p>Get the app</p>
            <a href="#" target="_blank">
                <img src="./assets/imagenes/footer/appStore.png" alt="">
            </a>
            <br><br>
            <a href="#" target="_blank">
                <img src="./assets/imagenes/footer/googlePlay.png" alt="">
            </a>
        </div>
    </div>
</footer>